@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'variables';
@import 'menu';
@import 'footer';
@import 'homepage';
@import 'responsive';
@import 'simpleline-icons';
@font-face {
    font-family: "simple-line";
    src: url('../fiora_1/assets/fonts/Simple-Line-Icons.eot');
    src: url('../fiora_1/assets/fonts/Simple-Line-Icons.svg') format('svg');
    src: url('../fiora_1/assets/fonts/Simple-Line-Icons.woff');
}
  
body {
    font-family: "Helvetica,Arial,sans-serif",sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1rem;    
    color: #777;
    &:not(.overlay-header) .header-navigation-wrapper {
        padding: 5px 0;
        border-top: 1px solid #e9e9e9;
        @media screen and (max-width: $mobile) {
            display: none;
        }
        .primary-menu {
            text-align: center;
            display: flex;
            justify-content: center;
            padding-left: 0;
            list-style-type: none;
            & > li {
                margin: 0 7px;
                padding: 0 10px;
                &.current_page_item {
                    &> a {
                        font-weight: bold;
                        color: #000;
                    }
                }
                > a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #666666d9;
                    font-size: .8em;
                    font-weight: 700;
                }
                &:hover {
                    > a {
                        color: #333;
                    }
                }
            }
        }
    }
    @media screen and (min-width: $breakPointMobile) {
        .header-toggles {
            display: none;
        }   
    }
}

header {
    text-align: center;
    .logo__wrapper {
        .custom-logo-link {
            display: inline-block;
            text-align: center;
            img {
                margin: 0 auto;
                max-height: 100px;
                width: auto;
                @media screen and (max-width: $mobile) {
                    max-height: 70px;
                }
            }
        }
    }
    .top-content {
        padding: 10px 0;
        background: $mainColorOrange;
        color: #fff;
        font-size: 0.75em;
        .text-promo {
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}